@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Gothic+A1&family=Meddon&family=Arvo&family=Cormorant+Garamond:wght@300&family=Cormorant+Infant:wght@300&family=Cormorant:wght@300&family=DM+Serif+Display&family=Oswald&family=DM+Serif+Text&family=Inria+Serif:wght@300&family=Old+Standard+TT&family=Oranienbaum&family=Playfair+Display&family=Prata&family=Rozha+One&family=Ultra&family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Ubuntu&family=Barlow&family=Roboto&family=Open+Sans&family=Shanti&display=swap');

label {
    padding: 7px 16px;
    margin: 1em;
    font-size: 16px;
    border-radius: 2px;
    border: none;
    color: antiquewhite;
    font-size: 150%;
}

input {
    text-align: center;
    padding: 7px 16px;
    margin: 2.7em;
    font-size: 16px;
    border-radius: 2px;
    color: #d54686;
    border: none;
}

button {
    text-align: center;
    padding: 7px 16px;
    margin: 1em;
    font-size: 16px;
    border-radius: 2px;
    color: #d54686;
    font-size: 100%;
    border: none;
}

div {
    color: antiquewhite;
    font-size: 120%;
}



select {
    color: #d54686;
    font-size: 100%;
    border: none;
}

p {
    color: #d54686;
}


a {
    padding: 7px 16px;
    margin: 1em;
    font-size: 16px;
    border-radius: 2px;
    text-align: center;
    font-size: 150%;
    color: antiquewhite;
}

input[type=text] {
    border: none;
}

input[type="checkbox" i] {
    padding: 7px 16px;
    margin: 1em;
    font-size: 16px;
    border-radius: 2px;
    text-align: center;
    font-size: 150%;
    color: antiquewhite;
}

h3 {
    font-size: 300%;
    color: antiquewhite;
    text-align: center;
}

h2 {
    font-size: 300%;
    color: antiquewhite;
    text-align: center;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.App {
  text-align: center;
}

.submit-button {
    color: #d54686;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    font-size:16px;
}

form textarea {
    min-height: 500px;
    min-width: 60%;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        border-radius: 50%;
        animation: App-logo-spin infinite 40s linear;
  }
}

nav {
    text-align: center;
    min-height: 60px;
    margin-top: 20px;
    background-color: #f7f4ed;
}